*{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




div{
    height: 200px;
    width: 200px;
    border: 1px solid #333;
    transition: all 0.4s ease;
}